
<!-- selector {property: value;}  -->
<!--   who    {  what  : how  ;}  -->

body {
    background-color: #EAF6F6;
}
hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: grey;
    height: 0px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

img {
    border-radius: 75%;

    max-width: 100%;
    height: auto;
}


