


body{
    margin: 0;
}


h1{
    margin-top: 0;
}

.top-container {
    background-color: #E4F9F5;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: blue;

}


.bottom-container {
    height: 200px;
    width: 200px;
    background-color: red;

}